{% extends 'layout.html.twig' %}

{% block title %}{{ a.title }}{% endblock %}

{% block pageTitle %} 
    <div class="text-center container">
        <h1 class="text-danger">{{ a.title }}</h1>
        <p>{{ a.sumary }}</p><br>
        <h5 class="font-weight-bold">{{ a.releaseYear|date("d,m,y") }}</h5>
        <h5 class="font-weight-bold">Le type du film : {{ a.type }}</h5>
        <h5 class="font-weight-bold">{{ a.author }}</h5>
        {% for e in a.evaluations %}
        <h5 class="font-weight-bold">Ce film a {{ e.grade }} étoiles</h5>
        <h5 class="font-weight-bold">Ce film a {{ a.moyenne }} étoiles</h5>
        {% endfor %}
    </div>
{% endblock %}

{% block main %}

{% endblock %}
